%div.container
  %div.course
    %h3= 'Course: ' + @course.name
    %h5= 'by ' +  Company.find(@course.company_id).name
    %div.form_field
      %span= @course.content

    %div.form_field
      %label.field_name Cost
      %span= @course.cost

  %div.request
    = render partial: 'request/request_form', locals: { course: @course }